	<div id="graphDiv1"></div>
	<br />
	<!--[if IE]><script src="excanvas.js"></script><![endif]-->
	<script src="html5-canvas-bar-graph.js"></script>
	<script>(function () {
	
		function createCanvas(divName) {
			
			var div = document.getElementById(divName);
			var canvas = document.createElement('canvas');
			div.appendChild(canvas);
			if (typeof G_vmlCanvasManager != 'undefined') {
				canvas = G_vmlCanvasManager.initElement(canvas);
			}	
			var ctx = canvas.getContext("2d");
			return ctx;
		}
		var inputVal = [];
		
		inputVal = <%= @buttons_json.html_safe %> ;
		var countVal = [];
		var labelVal = [];

		for (var i = inputVal.length - 1; i >= 0; i--) {
			countVal[i] = inputVal[i].counter;
			labelVal[i] = inputVal[i].name_val;
		};

		
		var ctx = createCanvas("graphDiv1");
		
		var graph = new BarGraph(ctx);
		graph.maxValue = 30;
		graph.margin = 2;
		graph.colors = ["#49a0d8", "#d353a0", "#ffc527", "#df4c27"];
		graph.xAxisLabelArr = labelVal;
		graph.update(countVal);
		

	}());</script>
<%= form_tag ({controller: 'buttons', action: 'index'}) do %>
  <div class='display_clicks'>
    <%= submit_tag('Home', class: "btn btn-large btn-success") %>
  </div>
<% end %>
</body>
</html>
